@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Poppins:wght@300;600;700;900&display=swap');

* {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: #102226;
    width: 100%;
    height: 100%;
}

/* section {
    height: 100vh;
    width: 100%;
} */

h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

h4 {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffffffbc;
}

h3 {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

h2.destaque {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #FFFFFF;
}


header {
    align-items: center;
    font-family: 'poppins';
    justify-content: space-between;
    color: white;
    display: flex;
    background: #400067;
}

header h1 {
    color: #00FF75;
    margin-left: -325px;
}

header h2 {
    font-size: 16px;
    margin-right: 5px;
    font-weight: 400;
}

.div_pc {
    display: flex;
    align-items: center;
    margin-right: -380px;
}

.div_browser {
    display: flex;
    align-items: center;
    margin-right: -350px;
}

.all {
    margin-right: -360px;
}

.fav {
    font-weight: 600;
    margin-right: 50px;
}

.undefined {
    margin-left: 15%;
    width: 15%;
}

main {
    position: relative;
    width: 100%;
}

.favorites {
    display: flex;
    margin-left: 10%;
    margin-top: 2.5%;
}

.favorites h1 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

hr {
    margin-left: 8%;
    margin-top: 1%;
    width: 82%;
    color: #3e3e3e;
}

.without-games {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.without-games h4 {
    display: flex;
    justify-content: center;
}

.sad-face {
    display: flex;
    justify-content: center;
    margin-left: 100%;
}

.all-games {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-left: 27%;
    width: 293px;
    height: 113px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: #4A0095;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0D072C;
    height: auto;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: aliceblue;
}

.footer-conter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100%;
}

.footer-conter h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-conter p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a i {
    font-size: 1.1 rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background-color: #0D072C;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

img {
    height: 30px;
}

.footerimagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    gap: 50px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.infosfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}