* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0D072C;
    height: auto;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: aliceblue;
}

.footer-conter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 100%;
}

.footer-conter h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-conter p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a i {
    font-size: 1.1 rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background-color: #0D072C;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

img {
    height: 30px;
}

.footerimagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    gap: 50px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.infosfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}